/**
 *  @file _metadata_block.sass
 *  @category 30_typography
 *  @theme LOCAL
 *  @description Mixin to create metadata blocks and list.
 *  Expects item DOM structure in this form:
 *  <div><div class='label'>Metadata Label</div><div class='value'>Metadata Value</div></div>
 *
 **/

// The metadata list defines a basic grid of metadata

// @param $rule Width of the rule between rows. Use 0px for none.
// @param $gap The separation of rows and columns, as an rv unit
// @param $mobile_gap The separation of rows and columns on mobile viewports, as an rv unit
// @param $rule_colour A colour to apply to the ruls

=metadata-list($mobile_columns: 1, $tablet_columns: 3, $desktop_columns: 7, $rule: 1px, $gap: $edge_padding_factor, $mobile_gap: $mobile_edge_padding_factor, $rule_colour: neutral(40))
  //Breakpoints

  @if $mobile_columns > 1
    +separated_row($mobile_columns,$mobile_gap,$rule,$rule_colour)

  +bp($tablet)
    +separated_row($tablet_columns,$gap,$rule,$rule_colour)

  +bp($desktop)
    +separated_row($desktop_columns,$gap,$rule,$rule_colour)

  // this will enforce padding below the rule.

  > * > *:first-child
    padding-top: rv($mobile_gap)

    +bp($desktop)
      padding-top: rv($gap)


// A metadata block separates the metadata

=metadata-block($mobile_columns: 1, $tablet_columns: 3, $desktop_columns: 7, $rule: 1px, $gap: $grid_gap_factor, $mobile_gap: $mobile_edge_padding_factor)
  max-width: 100%
  position: relative
  overflow: hidden

  &.reversed
    padding: rv($mobile_gap) !important
    background-color: neutral(90)
    color: $white

    a
      @extend %inline-anchor-reverse

  +bp($desktop)
    &.reversed
      padding: rv($gap)  !important


  a
    text-decoration: none

    &:hover
      color: $clr1


  .metadata-list
    +metadata-list($mobile_columns, $tablet_columns, $desktop_columns,$rule,$gap,$mobile_gap)

  h2
    margin-top: 0

    +reversed()
      color: $white

  span
    font-style: italic
