_index.sass/**
 *  @file _metadata_block.sass
 *  @category 30_typography
 *  @theme LOCAL
 *  @description Mixin to create metadata blocks and list.
 *
 **/

// The metadata list defines a basic grid of metadata

=metadata-list($mobile_columns: 1, $tablet_columns: 3, $desktop_columns: 7, $rule: 1px, $gap: $edge_padding_factor)
  //Breakpoints

  @if rule != 0
    +separated_row($mobile_columns,$gap,$rule)

    +bp($tablet)
      +separated_row($tablet_columns,$gap,$rule)

    +bp($desktop)
      +separated_row($desktop_columns,$gap,$rule)

    // this will enforce padding below the rule

    .property > *:first-child
      padding-top: rv($gap)

      +bp($desktop)
        padding-top: rv($gap)

  @else
    +separated_row($mobile_columns,$gap)

    +bp($tablet)
      +separated_row($tablet_columns,$gap)

    +bp($desktop)
      +separated_row($desktop_columns,$gap)


// A metadata block separates the meadata

=metadata-block($mobile_columns: 1, $tablet_columns: 3, $desktop_columns: 7, $rule: 1px, $gap: $grid_gap_factor)
  max-width: 100%
  position: relative
  overflow: hidden

  &.reversed
    padding: rv($mobile_edge_padding_factor) !important
    background-color: neutral(90)
    color: $white

    a
      @extend %inline-anchor-reverse

  +bp($desktop)
    &.reversed
      padding: rv($edge_padding_factor)  !important


  a
    text-decoration: none

    &:hover
      color: $clr1


  .metadata-list
    +metadata-list($mobile_columns, $tablet_columns, $desktop_columns,$rule,$gap)

  h2
    margin-top: 0

    +reversed()
      color: $white

  span
    font-style: italic
