/**
 *  @file _general.sass
 *  @category 30_typography
 *  @theme LOCAL
 *  @description Defines various type classes
 *
 **/


// Primary Elements

strong
  font-weight: $medium

p, main li
  & > a
    @extend %inline-anchor

ul
  padding-inline-start: rv($mobile_edge_padding_factor)

  +bp($tablet)
    padding-inline-start: rv($edge_padding_factor)

hr
  margin: rv($mobile_edge_padding_factor) * 2 0

  +bp($stack)
    margin: rv($edge_padding_factor) * 2 0

// TEXT TREATMENTS

.page-title
  margin-bottom: 0

.reversed, .reverse
  *
    color: $white

.compact
  @extend %small-text

.discreet
  @extend %small-text
  line-height: 1.5

.content-label, .item-label
  +font-size(-1)
  text-transform: uppercase
  font-weight: $bold
  color: set-color(2)

  & + h1
    margin-top: rv(-2)

figcaption, .caption
  @extend %small-text

.poster-text
  +font-size(2)

.deck
  font-size: clamped(1,2)
  line-height: 1.5
  margin-bottom: rv(0)

  p
    font-size: inherit
    font-family: inherit

  > *
    font-size: inherit
    font-family: inherit

.sublabel
  font-family: $altfont
  font-weight: $normal
  font-style: italic
  font-size: clamped(-1,0)

.callout-text
  @extend %impact-text
  line-height: 1.25

label, .label, .metadata-label
  +font-size(-1)
  color: neutral(70)
  line-height: 1.25

  @at-root .reversed &
    color: neutral(30)

  @at-root .field-meta &
    text-transform: uppercase
    font-size: clamped(0,1)
    font-weight: $bold
    color: $black

.value, .metadata-value
  @extend %small-text
  line-height: 1.25

.label, .metadata-label
  & + .value, & + .values, & + .metadata-value
    margin-top: rv(-4)

.read-more-link
  @extend %inline-anchor-block
  +font-size(-1)
  margin-right: rv($mobile_edge_padding_factor)
  margin-top: rv($mobile_edge_padding_factor)

.more, .more-options
  @extend %more
// Separate fields

fieldset, .field
  + fieldset, + .field
    margin-top: rv(0)

.form-search
  + fieldset, + .field
    margin-top: rv(0)

.contributor
  font-style: italic

.lozenge
  height: $ui_compactheight
  width: fit-content
  padding: $ui_padding $ui_padding * 2
  display: inline-flex
  align-items: center
  text-align: center
  justify-content: center
  border-radius: $ui_compactheight * 0.5
  background-color: set-color(1)
  color: $white
  text-decoration: none

  &:hover
    color: $white
    background-color: set-color(2)

$summary_text_font_size: clamped(-1,0)

.summary--text--group
  font-family: $basefont
  font-size: clamped(0,1)
  color: neutral(60)

.summary--text, .filter-value
  font-family: $basefont
  font-weight: $bold
  text-transform: uppercase
  font-size: $summary_text_font_size
  color: $black
  text-decoration: none
  border: 0

a.summary--text
  @extend .summary--text

  &:hover
    color: $link_colour_active
    text-decoration: underline
    text-decoration-color: $link_colour_active

.summary--text--label, .filter-label
  font-family: $basefont
  font-size: $summary_text_font_size
  color: set-color(3)
  font-weight: $bold
  text-transform: uppercase

  &:after
    content: ' '
    display: inline


.title-clamp
  display: -webkit-box
  -webkit-line-clamp: 3
  -webkit-box-orient: vertical
  overflow: hidden
  // line-height: map-get($line_heights,'h3')

.description-clamp
  display: -webkit-box
  -webkit-line-clamp: 9
  -webkit-box-orient: vertical
  overflow: hidden

.rights
  display: flex
  flex-direction: column
  padding-top: rv(-1)
  align-items: flex-start


  +bp($desktop)
    align-items: flex-start
