/**
 *  @file _general.sass
 *  @category 30_typography
 *  @theme LOCAL
 *  @description Defines various type classes
 *
 **/


// Primary Elements

strong
  font-weight: $medium

p, main li
  & > a
    @extend %inline-anchor

ul
  padding-inline-start: rv($mobile_edge_padding_factor)

  +bp($tablet)
    padding-inline-start: rv($edge_padding_factor)


// TEXT TREATMENTS

.page-title
  margin-bottom: 0

.reversed, .reverse
  *
    color: $white

.compact
  @extend %small-text

.discreet
  @extend %small-text
  line-height: 1.5

.content-label, .item-label
  +font-size(-1)
  text-transform: uppercase
  font-weight: $bold
  color: set-color(2)

  & + h1
    margin-top: rv(-2)

figcaption, .caption
  @extend %small-text

.poster-text
  +font-size(2)

.deck
  font-size: clamped(1,2)
  line-height: 1.5
  margin-bottom: rv(0)

  p
    font-size: inherit
    font-family: inherit

  > *
    font-size: inherit
    font-family: inherit

.callout-text
  @extend %impact-text
  line-height: 1.25

label, .label, .metadata-label
  +font-size(-1)
  color: neutral(70)
  line-height: 1.25

  @at-root .reversed &
    color: neutral(30)

.value, .metadata-value
  @extend %small-text
  line-height: 1.25

.label, .metadata-label
  & + .value, & + .values, & + .metadata-value
    margin-top: rv(-4)

.read-more-link
  @extend %inline-anchor-block
  +font-size(-1)
  margin-right: rv($mobile_edge_padding_factor)
  margin-top: rv($mobile_edge_padding_factor)

.more, .more-options
  @extend %more
// Separate fields

fieldset, .field
  + fieldset, + .field
    margin-top: rv(0)

.form-search
  + fieldset, + .field
    margin-top: rv(0)

.contributor
  font-style: italic

.lozenge
  height: $ui_compactheight
  width: fit-content
  padding: $ui_padding $ui_padding * 2
  display: inline-flex
  align-items: center
  text-align: center
  justify-content: center
  border-radius: $ui_compactheight * 0.5
  background-color: set-color(1)
  color: $white
  text-decoration: none

  &:hover
    color: $white
    background-color: set-color(2)


.rights
  display: flex
  flex-direction: column
  padding-top: rv(-1)
  align-items: flex-start


  +bp($desktop)
    align-items: flex-start
