/**
 *  @file _footer.sass
 *  @category 10_layout
 *  @theme LOCAL
 *  @description Defines page footer and navigation menus. */


body
  > footer
    +standard_edge_padding()
    color: $white
    background-color: $footer_bg
    margin-top: auto // Always aligns to the bottom of flex container
    position: relative

    *
      color: inherit

    .footer--content
      display: flex
      flex-direction: column

      +bp($tablet)
        +inset-full()
        flex-direction: row

      > *
        margin-bottom: rv($mobile_edge_padding_factor) * 2

        +bp($tablet)
          margin-right: rv($mobile_edge_padding_factor) * 2

          &:last-child
            margin-right: 0

      .footer--mark-container
        width: 40%

        +bp($tablet)
          width: 25%
          max-width: 140px // @todo: match header and footer logo sizes, perhaps with global config setting

        a
          display: flex
          width: 100%
          height: 100%

      .footer--main
        display: flex
        flex-direction: column

        +bp($tablet)
          align-items: flex-start
          flex-direction: row

        ul
          margin-top: 0
          padding-left: 0
          list-style-position: inside

        > *
          margin-bottom: rv($mobile_edge_padding_factor)

          +bp($tablet)
            margin-bottom: 0
            margin-right: rv($mobile_edge_padding_factor)


      .footer--links
        .link-list
          list-style: none
          padding: 0

          .link-title
            font-size: clamped(0, 1, 'sml', 'xlrg')
            margin: 0
            padding: rv(2) 0 0

            +bp($tablet)
              padding: 0


          li
            font-size: clamped(-1, 0, 'sml', 'xlrg')
            text-decoration: underline
            margin: 0

            a
              @extend %inline-anchor-reverse
