/* =======================
 * DOWNLOAD ITEM BLOCK
 * @seealso /view/agile-item/download-item-block
 * ======================= */

.download
  display: flex
  margin-bottom: rv(1)

  > *
    margin-left: $ui_element_spacing

    &:first-child
      margin-left: 0


  a
    @extend %icon-label

.download--link
  display: flex
  align-items: flex-end
  .download-icon
    width: rv(2)
    height: rv(2)
    margin-left: rv(-1)

.download--img
  height: rv(0)
  width: rv(0)
