/**
 *  @file _extensions
 *  @group 40_ui
 *  @decription Extensions to various Omeka-specific theme components. These styles may end up in the core components
 *    once stabilized.
 *
 */

// SELECT2

.select2-container--default
  .select2-selection--multiple
    border-radius: $border_radius
    border-color: $ui_border_color
    min-height: $ui_element_height

.select2-container
  min-width: $ui_select_min_width
