/**
 *  @file _general_ui.sass
 *  @category 40_ui
 *  @theme LOCAL
 *  @description Define various user interface elements. Buttons definitions are located in _ui_definitions.
 *    This file applies them to various elements and classes and defines special ui elements. Also see
 *    _form_ui.sass in this group.
 *
 **/


/* =======================
 * UI ICONS
 * ======================= */

.ui-icon-container
  display: flex
  flex-direction: row
  justify-content: flex-end
  flex-wrap: nowrap
  list-style-type: none

  > *
    margin-left: rv(0)

.ui-icon
  height: $ui_compactheight
  width: auto

.clear-filters
  display: inline-block
  margin-left: rv(0)


/* =======================
 * BUTTONS: APPLY DEFINITIONS
 * ======================= */


// Note: applying styles to <button> elements often create problems with third-party modules and admin interfaces.
// It is advised that you add a button class to button elements to avoid conflicts

.button
  @extend %button

  &.compact
    @extend %button-compact

  &.large
    @extend %button-large

  &.standard
    @extend %button-standard

  &.link
    @extend %button-link

  &.outline
    @extend %button-outline

  &.cta
    @extend %button-cta

  &.feature-cta
    @extend %button-feature-cta

  &.more
    @extend %button-more

  &.search-submit,&[type='submit'].search-submit
    @extend %button-search-submit

button
  &.search-submit,&[type='submit'].search-submit
    @extend %button-search-submit


/* =======================
 * DOWNLOAD ICONS
 * ======================= */

.download-icons
  display: flex
  align-items: flex-start
  margin-bottom: rv(1)

  .icon-ui
    text-decoration: none

  +bp($desktop)
    justify-content: space-between

  .download-link
    display: flex
    align-items: flex-end
    .download-icon
      width: rv(2)
      height: rv(2)
      margin-left: rv(-1)

.metadata-label
  text-transform: uppercase

  .value
    display: -webkit-box
    -webkit-line-clamp: 4
    -webkit-box-orient: vertical
    overflow: hidden


.download-img
  height: rv(0)
  width: rv(0)
