/**
 *  @file _general_ui.sass
 *  @category 40_ui
 *  @theme LOCAL
 *  @description Define various user interface elements.
 *  @seealso  stop14-themesystem/source/sass/a_components/40_ui/ui_element_base  for core definitions and
 *  preset styling. Also see 00_Main_Configuration
 *
 **/


/* =======================
 * UI ICONS
 * ======================= */

.ui-icon-container
  display: flex
  flex-direction: row
  justify-content: flex-end
  flex-wrap: nowrap
  list-style-type: none

  > *
    margin-left: rv(0)

.ui-icon
  height: $ui_compactheight
  width: auto

.clear-filters
  display: inline-block
  margin-left: rv(0)
