button[type="submit"] //Button
  @extend %button-submit

input[name="refine"]
  @extend %input-text

input[type="number"]
  height: $ui_element_height
  min-height: $ui_element_height

input[type="checkbox"]
  flex-shrink: 0

  & + label
    padding-left: rv(-1) // Padding issue corrected in later core theme system update

button[type="reset"]
  +background_icon_left('reset',$btn_icon_size,'default','reversed')
  justify-content: center

.btn
  @extend %button

.button, .btn
  font-family: $basefont
  font-weight: $bold

button.ghost
  all: unset
  font-family: $basefont
  color: neutral(80)
  border-width: 0 0 1px 0
  border-bottom-color: neutral(70)
  border-bottom-style: solid
  padding: 0
  font-size: clamped(-2,-1)
  cursor: pointer

  &:hover
    background: none
    color: $black
    border-bottom-color: black
