/**
  *  @file _tab_ui.sass
  *  @category 40_ui
  *  @theme LOCAL
  *  @description Styles to add a tab-like user interface.
  *
  **/


// Simplified version

.container-with-tabs-and-panels
  .tabs
    text-align: left
    margin: rv(1) 0

    +bp($desktop)
      text-align: right
      margin-top: 0

    a
      font-size: rv(-1)
      color: neutral(60)

      &:hover, &.active-tab
        color: $black


/* This version expects a .tab_ui container with .tab-ui--tab child elements.
   If the container has an additional .ruled element a horizontal rule beneath the container is added, aligned to
   active markers. You can also set the active-tab-marker as a mixin based on the preset examples below */

$tab_marker_distance: rv(-1)
$tab_size: 10px

=tab-marker-circle
  border-radius: 50%
  background-color: $cta

=tab-marker-accordion
  +icon('accordion-expand',contain,'active')

=tab-marker-pip
  +icon('pip',contain,'active')

=active-tab-marker
  +tab-marker-circle

.tab-ui
  display: flex
  flex-direction: column
  justify-content: flex-start
  list-style-type: none
  padding-inline-start: 0
  isolation: isolate

  +bp($tablet)
    flex-direction: row

  > *
    margin-right: $ui_element_spacing

    &:last-child
      margin-right: 0

  // Adds full width and a rule beneath measured to the marker.

  &.ruled
    position: relative
    width: 100%

    &:after
      content: ''
      position: absolute
      bottom: calc((#{$tab_marker_distance} - #{$tab_size}) * -1)
      height: 1px
      width: 100%
      background-color: neutral(10)
      z-index: -1

.tab-ui--tab, .tab-ui--control
  font-family: $basefont
  +font-size(0)
  text-transform: uppercase
  position: relative
  text-decoration: none
  border-bottom: none
  font-weight: $bold

  +bp($tablet)
    text-transform: uppercase
  color: neutral(50)


  &:before
    content: ''
    +icon('pip',$tab_size)
    display: inline-block
    z-index: 2
    margin-right: $tab_marker_distance

    +bp($tablet)
      content: unset

  &.active, &:hover
    color: $black

    &:after
      +bp($tablet)
        content: ''
        position: absolute
        height: $tab_size
        width: $tab_size
        +active-tab-marker
        display: inline-block
        z-index: 2
        bottom: calc((#{$tab_marker_distance} - #{$tab_size * 0.5}) * -1)
        left: calc(50% - #{$tab_size * 0.5})
        margin-right: 0


  // Some implementations will have a link inside the <li> tags. This aligns the styles.
  a
    color: inherit
    font-weight: inherit

    +bp($tablet)
    text-decoration: none
    border-bottom: none


    &.active, &:hover
      color: inherit
