/**
 *  @file _general_ui_elements.sass
 *  @category 40_ui
 *  @theme LOCAL
 *  @description Define various user interface elements.
 *
 **/

/** HERE ARE SOME DEFINITIONS THAT MUST BE SUPPORTED
  *
  * TYPES:
  * standard|Standard
  * link|Internal Link
  * outline|Outline
  * outline.reversed|Reversed outline
  * cta|Call to action
  * feature-cta|Feature CTA
  * ghost|Ghost
  * emphatic-ghost|Emphatic ghost
  * sppoky|Spooky (inactive only)

  *
  * SIZING:
  * compact|Size: compact
  * large|Size: large
  *
  * OVERLAYS
  * overlay-dark|Overlay: dark background
  * overlay-light|Overlay: light background
  * overlay-colour|Overlay: yellow background
  *
  */

%link
  text-decoration: underline
  border: 0

  &:hover
    color: set-color(4)
    border: 0


%button-base
  -webkit-appearance: none
  -moz-appearance: none
  appearance: none
  font-size: $btn_fontsize
  font-family: $basefont
  font-weight: $normal
  padding: $btn_padding
  height: $btn_height
  min-width: $btn_minwidth
  border: $btn_border_width solid $btn_border_color
  border-radius: $ui_border_radius
  text-align: center
  width: fit-content
  max-width: 100%
  white-space: nowrap
  background-color: $btn_bg_color
  color: $btn_color

%button
  @extend %button-base
  text-decoration: underline
  display: inline-flex
  flex-direction: row
  align-items: center
  justify-content: center
  margin: rv(-1) 0
  cursor: pointer
  @extend %underscore

  &:hover
    color: $btn_hover_color
    background-color: $btn_hover_bg_color
    border-color: $btn_border_color

  a
    border: 0
    display: block
    height: fit-content
    width: 100%

    &:hover
      border: 0

%button-reverse
  border: solid $white $btn_border_width

%button-cta
  text-transform: uppercase
  font-weight: $bold

%button-feature-cta
  border: $btn_border_width solid $black
  color: $black
  background: transparent
  position: relative

  a
    color: $black !important

%button-ghost
  @extend %button-base
  color: $black
  border: none
  background: transparent
  text-decoration: underline
  display: inline-flex
  flex-direction: row
  align-items: center
  justify-content: center
  margin: rv(-1) 0
  @extend %underscore

  &:hover
    color: $clr4


%button-reset
  @extend %button-base
  border: none
  background: neutral(60)
  text-decoration: underline
  display: inline-flex
  flex-direction: row
  align-items: center
  justify-content: center
  margin: rv(-1) 0
  @extend %underscore

  &:hover
    background: $black

  &:active
    background: neutral(80)


%button-text
  background: $black
  text-decoration: underline
  display: inline-flex
  flex-direction: row
  align-items: center
  justify-content: center
  margin: rv(-1) 0
  border: none
  @extend %underscore

%button-standard
  @extend %button
  color: $white
  text-decoration: none

  &:hover
    color: $black
    background: $clr2
    border: 0

%button-link
  @extend %button
  color: $white


%button-outline
  @extend %button
  background: transparent
  font-style: normal
  text-decoration: none

  &:hover
    border: $btn_border_width solid $clr2

%button-cta
  @extend %button
  background: $clr3
  color: $white
  border: 0

%button-compact
  height: $ui_compactheight
  min-width: $btn_compactwidth !important
  font-size: $btn_compact_fontsize

%button-large
  height: $ui_largeheight
  min-width: $btn_largewidth

%button-reset
  @extend %button
  +submit-arrow
  border-width: $btn_reset_border_width
  border-color: $btn_reset_border_color
  font-style: normal
  background-color: $btn_reset_bg_color
  color: $btn_reset_color
  min-width: $btn_compactwidth
  text-decoration: none
  justify-content: flex-start

  &:hover
    +submit-arrow-hover
    color: $btn_reset_hover_color
    background-color: $btn_reset_hover_bg_color
    border-color: $btn_reset_hover_border_color

%button-more
  color: $black
  font-style: normal
  text-decoration: none
  border: 0
  padding: 0 45px
  min-width: 0 !important
  display: inline-flex
  flex-direction: row
  justify-content: center
  align-items: center
  height: 50px
  +more-arrow

  a
    color: inherit
    font-style: inherit
    border-bottom: 2px solid $black
    text-decoration: inherit

    &:hover
      border-bottom: 2px solid $black

%button-submit
  @extend %button
  +submit-arrow
  border-width: $btn_submit_border_width
  border-color: $btn_submit_border_color
  font-style: normal
  background-color: $btn_submit_bg_color
  color: $btn_submit_color
  min-width: $btn_compactwidth
  text-decoration: none
  justify-content: flex-start

  &:hover
    +submit-arrow-hover
    color: $btn_submit_hover_color
    background-color: $btn_submit_hover_bg_color
    border-color: $btn_submit_hover_border_color

%button-search
  @extend %button
  +search-icon
  border-width: $btn_search_border_width
  border-color: $btn_search_border_color
  font-style: normal
  background-color: $btn_search_bg_color
  color: $btn_search_color
  min-width: $ui_minheight !important
  height: $ui_minheight !important
  text-decoration: none
  justify-content: flex-start

  &:hover
    +search-icon-hover
    color: $btn_search_hover_color
    background-color: $btn_search_hover_color
    border-color: $btn_search_hover_border_color

%button-search-submit
  @extend %button
  +search-icon
  border: none
  font-style: normal
  background-color: transparent
  color: transparent
  overflow: hidden
  display: inline-block
  min-width: auto
  max-width: auto
  width: $ui_element_height
  height: $ui_element_height
  text-decoration: none
  justify-content: flex-start

  &:hover
    +search-icon-hover
    color: transparent
    background-color: transparent
    border-color: transparent

%button-reset-submit
  @extend %button-search-submit
  +reset-icon()
  opacity: 0.5

  &:hover
    opacity: 1


%input-text
  $preferred: map-get($sizefactors,'base') // Same sizing as body
  $min_size: map-get($min_sizefactors,'base')
  font-size: clamped($min_size,$preferred)
  font-family: $basefont
  font-weight: $normal
  padding: 0 $ui_padding
  height: $ui_minheight
  border-radius: $ui_border_radius
  border-style: solid
  border-width: $ui_border_width
  border-color: $ui_border_color
  max-width: 500px
  background-color: transparent

  &:hover
    border-color: $ui_hover_border_color

%control-icon
  display: inline-block
  height: $ui_display_controls_icon_size
  width: $ui_display_controls_icon_size
  border: 0
  transition: none

  &:hover
    border: 0

%labels-controls
  font-weight: $normal
  margin: 0 rv(-3)
  transform: translateY(-1px) // fudge to line up with element!

%ui-icon-tab-controls
  position: fixed
  height: $masthead_height
  right: rv($mobile_edge_padding_factor)
  bottom: 0
  display: flex
  align-items: center
  z-index: 11
  color: $white

  // Attachment tabs are fixed to the bottom on mobile

  +bp($ui_mobile_app_controls_breakpoint)
    position: initial
    bottom: unset
    z-index: unset
    color: initial
    right: unset
    height: $ui_display_controls_icon_size

  label
    color: $white

    +bp($ui_mobile_app_controls_breakpoint)
      color: initial

  ul
    +horizontal-list()

  .vat-tab
    filter: brightness(10) // Invert the control buttons on mobile

    &:hover, &.active
      filter: brightness(5)

    +bp($ui_mobile_app_controls_breakpoint)
      filter: none

      &:hover, &.active
        filter: none

  .card_view
    +card-view-icon()

  .list, .list_view
    +list-view-icon()

  .masonry, .grid
    +masonry-view-icon()

  .vat-tab
    @extend %control-icon

%internal-links
  +horizontal-list(0)

  a
    @extend %link
    text-decoration: underline
    font-weight: $bold
    display: flex
    align-items: flex-end

    &:after
      content: ''
      height: rv(-2)
      width: rv(-2)
      margin-left: rv(-4)
      background: no-repeat url(get_svg_url('icons/down-arrow-black'))
      transform: translateY(2px)

    &:hover
      color: set-color(4)

      &:after
        background: no-repeat url(get_svg_url('icons/down-arrow-red'))

%content-warning
  font-family: $basefont
  font-size: clamped(0,1)
  display: inline-flex
  align-items: flex-end
  text-decoration: underline

  &:hover
    filter: brightness(0.7)

  &:before
    content: ''
    height: rv(-2)
    width: rv(-2)
    margin-right: rv(-4)
    background: no-repeat url(get_svg_url('icons/content-icon'))

    +reversed
      background: no-repeat url(get_svg_url('icons/content-icon-reverse'))
      color: $white

