.wayfinding
  display: flex
  align-items: center
  +font-size(-1)
  letter-spacing: 0.2px
  margin: rv($edge_padding_factor) 0

  +bp($desktop)
    margin-top: 0

  .wayfinding-home
    height: rv(0)
    width: auto

  a
    display: inline-flex
    align-items: center
    text-decoration: none
    color: neutral(70)
    border-bottom: none
    font-weight: $normal
    line-height: 1

    &:before
      content: '>'
      padding-right: $text_element_spacing

    &:first-child:before
      display: none

    &:hover,
    &:focus
      color: $impact

    &.icon-home
      height: rv(-1)
      width: rv(-1)
      margin-right: $text_element_spacing
