/*
 *  @file _advanced_search.sass
 *  @category 60_site_elements
 *  @theme LOCAL
 *  @description Creates a faceted browsing interface built on top of the Advanced Search module.
 *  @see 40_ui/10_components/_component_omeka_browser_ui
 */

// Template: search/search

.item-browser
  > div
    @extend %browser-container
    border-radius: $border_radius
    padding: 0

#collection-list
  @extend %card-grid
  margin-top: rv($mobile_edge_padding_factor)

  +bp($ui_mobile_app_controls_breakpoint)
    margin-top: rv($edge_padding_factor)

.search-results-list
  list-style-type: none

  &.grid
    .resource
      @extend .card

.search-results-wrapper
  @extend %browser-container-grid

// Title area

.browse-title
  margin: rv($mobile_edge_padding_factor) * 2 0

  +bp($ui_mobile_app_controls_breakpoint)
    margin: rv($edge_padding_factor) * 2 0

  h2 > span
    color: set-color(2)

.search-filter-container
  display: flex
  flex-wrap: wrap

  > *
    margin-right: $ui_element_spacing
    margin-bottom: $ui_element_spacing

    &:last-child
      margin-right: 0

.search-facets-list
  padding-left: 0

// FACET SIDEBAR
// Template: search/search, search/facet-list

aside
  @at-root .search-results-wrapper > &
    @extend %browser-sidebar
    background-color: neutral(4)
    border-radius: 0

    +bp($ui_mobile_app_controls_breakpoint)
      border-radius: $border_radius 0 0 $border_radius

    h3
      font-size: clamped(1,0)
      margin-top: 0

  .active-facets
    > ul
      display: flex
      justify-content: flex-start
      gap: rv(0)
      list-style: none
      padding: 0

  .facets-actions
    display: flex

    +bp($ui_mobile_app_controls_breakpoint)
      flex-direction: column

    button
      margin-right: $ui_element_spacing
      margin-bottom: $ui_element_spacing

      +bp($ui_mobile_app_controls_breakpoint)
        width: 100%

  .search-facet
    @extend %exposed-facet

    a
      text-decoration: none

      &:hover
        text-decoration: underline

  #search-refine
    width: 100%
    +background-icon-base('search',$btn_icon_size,'neutral','default','right')
    background-position: right #{$ui_padding} center

// @todo: scope?

.pagination
  display: none

  +bp($ui_mobile_app_controls_breakpoint)
    display: flex

.search-results-count
  > .pagination--label
    display: none

    +bp($ui_mobile_app_controls_breakpoint)
      display: block

.search-results-header
  position: fixed
  z-index: 12
  top: calc(#{$masthead_height} + #{rv($mobile_edge_padding_factor)})
  left: 0
  right: 0
  padding: 0 rv($mobile_edge_padding_factor) $mobile_overlay_spacing rv($mobile_edge_padding_factor)
  width: 100%
  flex-direction: row
  justify-content: space-between
  align-items: center
  display: none

  +bp($ui_mobile_app_controls_breakpoint)
    display: flex
    position: initial
    top: initial
    left: initial
    right: initial
    padding: 0 0 $mobile_overlay_spacing 0
    justify-content: flex-end

  > *
    +bp($ui_mobile_app_controls_breakpoint)
      display: flex
      align-items: center
      margin-left: $ui_element_spacing

      &:first-child
        margin-left: 0

  label
    @extend %labels-controls

.search-results-footer
  margin-top: rv($edge_padding_factor)

#mobile-browse-controls
  @extend %browser-mobile-toolbar

#browser--mobile-close-btn
  @extend %mobile-close-btn
  display: none

// Template: search/results-header-footer

label[for="sort"]
  margin-left: 0

.search-results-display
  @extend %ui-display-mode-controls

.search-view-type-list
  +icon_with-label-right('list',$btn_icon_size,'neutral')

.search-view-type-grid
  +icon_with-label-right('grid',$btn_icon_size,'neutral')

