/*
 *  @file _browse.sass
 *  @category 60_site_elements
 *  @description Supports the Omeka browse template
 *  @theme LOCAL
 */


body.browse
  #item-set-page
    padding-bottom: rv($edge_padding_factor)
    border-bottom: 1px solid neutral(50)
    margin-bottom: rv($edge_padding_factor)


  .metadata
    > .value
      margin-bottom: $ui_element_spacing

      &:last-child
        margin-bottom: 0

  .collection-link
    margin-top: rv($edge_padding_factor)

  #primary-content
    #search-form
      margin-bottom: rv($edge_padding_factor)



.browser
  ul
    padding-inline-start: 0

  .list
    .card
      @extend %list-item
      margin-bottom: rv($grid_gap_factor)

