/*
   @file _cards.sass
   @category 60_site_elements
   @theme LOCAL
   @component main
   @description Handles card content blocks.  */

main
  .card, li > .card, li > a.card
    text-decoration: none

.cards
  @extend %card-grid

.card
  @extend %card

  .item-info
    border-top-color: $link_colour
    border-top-width: 10px
    border-top-style: solid

    &:hover
      border-top-color: $link_colour_active


.list-item
  @extend %list-item
