/**
 *  @file _item_show.sass
 *  @category 60_site_elements
 *  @theme LOCAL
 *  @description Styles the item page. The template is located at ./view/agile-theme-tools/agile-item/show.[html */


// =======================
// SASS VARIABLES
// =======================

// $column_gap_calc: calc(50% - (#{$column_gap}/2)) 1fr

// =======================
// ITEM CONTAINER
// =======================

.item.show
  h1
    word-wrap: break-word

  h1 + .description, .subtitle + .description
    margin-top: rv($mobile_edge_padding_factor)

  .metadata-list
    +metadata-list(1,3,5)
    padding: rv($mobile_edge_padding_factor) 0
    border-bottom: 1px solid neutral(60)


    +bp($desktop)
      padding: rv($edge_padding_factor) 0

  .item-container
    margin-bottom: rv($block_spacing)
    display: flex
    flex-direction: column-reverse

    +bp($tablet)
      max-width: 100%

    +bp($desktop)
      $item_container_object_spacing: rv($edge_padding_factor)
      display: grid
      grid-template-columns: 100%
      grid-template-columns: calc(50% - #{$item_container_object_spacing * 0.5}) calc(50% - #{$item_container_object_spacing * 0.5}) // using this instead of 1fr because Universal Viewer is miscalculating its size
      grid-column-gap: $item_container_object_spacing
      max-width: 100%

    // transcription links

    .transcription-link
      margin-top: rv(-1)

    .transcription-link a
      text-decoration: underline
      font-size: font-value(0)

    .transcription-link a:hover,
    .transcription-link a:focus
      color: $clr3
      border-bottom: none


  // =======================
  // ITEM VIEWER
  // =======================

  .item-viewer
    width: 100%
    border-top-width: 10px
    border-top-style: solid

    .media-render
      width: 100%
      +proportional-height(100%,.5625)
      background: black
      display: flex
      justify-content: center
      align-items: center
      +standard_edge_padding

      iframe
        width: 100%
        height: 100%

    #viewer-support
      margin-top: rv($mobile_edge_padding_factor)

      +bp($tablet)
        margin-top: rv($edge_padding_factor)




  .container-with-tabs-and-panels
    .contributor
      margin-top: rv(1)
      font-style: italic
      font-size: rv(2)

  .item-metadata-block
    +metadata-block()

  .item-with-metadata
    .item-metadata-block
      &:before
        background: none

      .subject-title
        color: $black
        text-decoration: underline

        &:hover, &.focus
          color: $clr2

  #related-items
    @extend %browser-container
    padding: rv($mobile_edge_padding_factor) !important

    .card
      padding: rv($mobile_edge_padding_factor)

    +bp($tablet)
      padding: rv($edge_padding_factor) !important

    .browse-title
      width: 100%
      margin-bottom: rv(1)

      span
        color: $impact
