/* 
 @file _media_embed.sass 
 @category 60_site_elements
 @theme LOCAL
 @description  Handles the media embed block with wrap around text. */

.file
  .attachments
    margin-bottom: 0

        
  // Set left and right settings

  &.right
    .attachments
      +callout-side('right') // Mixin does the heavy lifting here
  
  &.left
    .attachments
      +callout-side('left')

  &.center
    display: flex
    justify-content: center
      
     

        
  // Set sizing
  
  &.square
    .attachments
      img 
        +proportional_height(100%, 1) 
        
  &.large
    .attachments
      +bp($desktop)
        width: $legible_inset_width * .5

  &.large.center
      .attachments
        +bp($desktop)
          width: 100%
          
      
.media-embed-info            
  background-color: neutral(4)
  h4
    white-space: nowrap
    overflow: hidden
    text-overflow: ellipsis
    margin-top: rv(-1)
    
  p:last-child
    margin-bottom: 0
    
  .caption
    margin-bottom: 0
  
  & + .caption
    padding-top: 0

.site-page-pagination
   display: none


