/*
 @file _media_embed.sass
 @category 60_site_elements
 @theme LOCAL
 @description  Handles the media embed block with wrap around text. */

.file
  .attachments
    margin-bottom: 0

  // Large attachments can’t be set left or right

  &.large
    .attachments
      width: 100% !important
      padding-left: 0 !important
      padding-right: 0 !important
      margin-bottom: rv($mobile_edge_padding_factor)

      +bp($desktop)
        margin-bottom: rv($edge_padding_factor)

  // Set left and right settings

  @at-root .block-layout-alignment-block-right &
    .attachments
      +callout-side('left')

  @at-root .block-layout-alignment-block-left &
    .attachments
      +callout-side('right')



  // Set sizing

  &.square
    .attachments
      img
        +proportional_height(100%, 1)

  &.large
    .attachments
      +bp($desktop)
        width: $legible_inset_width * .5

  &.large.center
      .attachments
        +bp($desktop)
          width: 100%

