.quotation
  font-family: $headingfont
  color: $black
  font-weight: $extrabold
  padding: rv(3)
  margin-top: rv(2)
  font-size: clamped(0, 2, 'sml', 'xlrg')

  blockquote
    margin: 0 auto
    padding: rv(3)

    h2
      color: $black

    cite
      border-top: 1px solid $clr4
      color: $clr4
      padding-top: rv(0)
      display: block
      font-family: $basefont
      font-weight: $thin
      font-size: clamped(-1, 0, 'sml', 'xlrg')

    a
      @extend %inline-anchor-reverse
