%list-item
  width: 100%
  margin-bottom: rv(2)
  border-top-left-radius: 0 !important
  border-bottom-left-radius: 0 !important


  > a
    width: 100%
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start
    text-decoration: none
    background: $white
    border-color: $black
    border-width: 0 0 0 10px
    border-style: solid
    border-collapse: collapse
    overflow: hidden
    padding: rv(0)

    &:hover
      border-color: $impact

  figure
    +proportional-height(200px,0.75)
    min-width: 200px // TODO: collapses to image width otherwise, but why?
    margin-right: rv(2)

    &:before
      background: none

    img
      width: 100%
      height: auto

    &.figure-portrait
      img
        height: 100%
        width: auto
        margin: 0 auto

  .item-description
    line-height: 1.5

  .more
    margin-top: 0

  .item-info
    border: 0 !important
    padding: 0 !important

%exposed-facet
  background-color: neutral(2)
  padding: rv($mobile_edge_padding_factor)
  margin-bottom: rv($mobile_block_spacing)
  font-size: rv(-1)

  +bp($tablet)
    margin-bottom: rv($block_spacing)

  > h3
    margin-top: 0
    margin-bottom: rv(-3)

  ul
    list-style-type: none
    padding-left: 0
    margin-bottom: 0

  > ul

    li:last-child
      margin-bottom: 0

  .facets-widget-searchbox
    width: 100%
    +background-icon-right('search')

  .facet-item
    margin-bottom: rv(-2)

    overflow-x: hidden

  details
    summary //prevent horizontal scroll from ::after element (arrows)
      overflow: hidden

  .more-options
    display: none
    color: neutral(90)
    margin: rv(-1) 0 0 rv(8)
    padding: 0
    width: fit-content
    font-size: rv(-1)
    font-weight: $semibold
    text-decoration: underline

  .options
    +bp($desktop)
      max-height: 445px
      overflow-y: scroll

  summary::-webkit-details-marker
    display: none

  summary + .options
    margin-top: 0

  form, details
    overflow: hidden

    > ul
      padding-left: 0
