/**
 *  @file _browser_ui_definintions.sass
 *  @category 40_ui
 *  @theme LOCAL
 *  @description Common definitions for card browsers.
 *  @dependency 40_ui/_browser_ui_supporting_definitions
 *  @alsosee 60_site_elements/_cards.sass, js/advancedSearchSupport.js, and js/masonryCardGrid.js
 *
 **/


// Create a root variable that can be retrieved in javascript.
// Used to set the gutter width for Masonry views, which requires
// it to be manually set. See js/01_masonryCardGrid.js

$grid_gap_size: rv($grid_gap_factor)
$mobile_sidebar_content_clearance: 150px // The browser <aside> contents need to clear some absolutely positioned controls.

\:root
  --grid-gap-size: #{strip-unit(convert($grid_gap_size,'px'))}
// General wrapper for all browser items

%browser-container
  background-color: neutral(2)

// Applies to the container with a sidebar and results area.
// Drupal does not require this as facets are assigned to sidebars as blocks,
// but Omeka and other systems must manage their own browser grid

%browser-container-grid
  display: grid
  grid-column-gap: rv(1)
  grid-template-columns: 1fr

  // Includes <aside>, which is hidden on mobile
  +bp($ui_mobile_app_controls_breakpoint)
    grid-template-columns: minmax(min-content,#{$left_sidebar_width}) 1fr

  &.sidebar-after
    +bp($ui_mobile_app_controls_breakpoint)
      grid-template-columns: 1fr minmax(min-content,#{$right_sidebar_width})


// Apply to sidebars with facet browsers. Turns them into overlay controls on
// mobile. Works with js/processExposedFacetsSidebar.js (currently in theme)

%browser-sidebar
  display: none // Hidden by default. Managed by js at this viewport
  position: fixed
  top: 0
  bottom: $ui_mobile_app_controls_footer_height
  left: 0
  right: 0
  z-index: 11
  overflow-y: scroll
  transition: height $heartbeat ease-in // Manage transition when filter button is tapped
  padding: $mobile_sidebar_content_clearance rv($mobile_edge_padding_factor) rv($mobile_edge_padding_factor) rv($mobile_edge_padding_factor)

  // Previous implementation had fly-up animation that proved buggy. @todo: revisit
  //height: 0
  //padding: 0 // padding must be set to zero so that it doesn't force open the height. See https://stackoverflow.com/posts/20827604/revisions

  // &.active
  //  height: calc(100vh - #{$masthead_height} - #{$ui_mobile_app_controls_footer_height})
  //  padding: rv($mobile_edge_padding_factor)

  +bp($ui_mobile_app_controls_breakpoint)
    display: initial
    position: initial
    height: auto
    bottom: initial
    left: initial
    right: initial
    z-index: unset
    padding: rv($edge_padding_factor)

    &.active
      height: auto

  input, button
    max-width: 100%
    min-width: auto

  h2
    font-size: clamped(2,3)
    font-weight: normal
    margin-top: 0

  .search-facets-list
    overflow: scroll

    +bp($desktop)
      overflow: auto

  #form-facets
    height: calc(70vh - #{$mobile_filter_height})
    overflow-y: scroll

    +bp($desktop)
      height: auto
      overflow-y: auto

%card-grid
  padding: 0
  margin: 0

  &.grid
    display: grid
    grid-row-gap: rv($mobile_edge_padding_factor)
    grid-column-gap: rv($mobile_edge_padding_factor)
    grid-template-columns: 1fr

    .card
      img.img-portrait
        object-fit: cover
        max-height: 600px

    +bp($ui_mobile_app_controls_breakpoint)
      grid-template-columns:  1fr 1fr

    // Handled by masonry

    +bp($desktop)
      display: block
      width: 100%

    .card
      width: 100%
      height: 100%

      +bp($desktop)
        width: calc((100% - (#{$grid_gap_size} * 2)) / 3) // gutter manually set in js/masonryCardGrid.js
        height: auto
        margin-bottom: $grid_gap_size

      > a
        display: flex
        flex-direction: column
        height: 100%

        +bp($desktop)
          display: block
          height: auto


  &.list
    .card
      @extend %list-item
      margin-bottom: $grid_gap_size

// Requires Better Exposed Filters

%browser-exposed-filter-block
  margin-bottom: 0

  form
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: flex-end
    align-items: center

  .form-item-search-api-fulltext
    width: 100%
    margin-bottom: rv($edge_padding_factor) * 2

    input
      $searchsize: clamped(2,4)
      width: 100%
      max-width: 100%
      font-family: $altfont
      font-size: $searchsize
      font-weight: $normal
      padding: $ui_padding 0
      +background-icon-right('search',$searchsize)

    label
      display: none

  .form-item, .views-attachment-tabs
    display: flex
    flex-direction: row
    align-items: center
    padding: 0

    label
      @extend %labels-controls

  .views-attachment-tabs
    margin-left: rv($edge_padding_factor)

  .select2-selection__rendered
    text-transform: uppercase
    font-weight: $bold

  input[type='submit']
    display: none // auto submission

%browser-facets-summary-block
  > ul
    list-style-type: none
    display: flex
    flex-direction: row
    flex-wrap: wrap
    padding: 0
    width: 100%

    h2
      margin: 0 rv(0) 0 0

    li
      width: 100%

      &[class^=facet-summary-item]
        margin-right: rv(-2)
        width: auto

        a
          @extend %tag

      &.facet-summary-item--clear
        a
          background-color: neutral(50)

          &:hover
            background-color: neutral(80)

    .result-count
      font-weight: $semibold

// Display mode controls
// Does not display controls on mobile by default, as there is not much difference between the list and grid views
// at this viewport size. To display these controls on mobile, change to “display: flex”

%ui-display-mode-controls
  display: none
  position: fixed
  height: $masthead_height
  right: rv($mobile_edge_padding_factor)
  bottom: 0
  align-items: center
  z-index: 11
  color: $white

  > *
    margin-left: $ui_element_spacing


  +bp($ui_mobile_app_controls_breakpoint)
    display: flex
    position: initial
    bottom: unset
    z-index: unset
    color: initial
    right: unset
    height: $ui_element_height

  label
    color: $white
    @extend %labels-controls

    +bp($ui_mobile_app_controls_breakpoint)
      color: initial

  ul
    +horizontal-list()

  .vat-tab
    filter: brightness(10) // Invert the control buttons on mobile

    &:hover, &.active
      filter: brightness(5)

    +bp($ui_mobile_app_controls_breakpoint)
      filter: none

      &:hover, &.active
        filter: none

  .card_view
    +background-icon-right('grid')

  .list, .list_view
    +background-icon-right('list')

  .masonry
    +background-icon-right('masonry')

  .grid
    +background-icon-right('grid')

  .vat-tab
    @extend %control-icon

// MOBILE SUPPORT

%mobile-close-btn
  +icon_with_label_right('close')
  position: fixed
  top: rv($mobile_edge_padding_factor)
  right: rv($mobile_edge_padding_factor)


%browser-mobile-toolbar
  position: fixed
  left: 0
  right: 0
  bottom: 0
  height: $mobile_filter_height
  z-index: 4
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  background: $black
  padding: rv($mobile_edge_padding_factor)
  border-top: 3px solid $white

  +bp($ui_mobile_app_controls_breakpoint)
    display: none

  // Filter menu

  > a
    display: flex
    color: $white
    height: 100%
    flex-direction: row
    align-items: center
    width: 50vw

    img
      width: auto
      height: rv(1)
      margin-right: rv(-1)

  .pagination--label, .search-view-type
    color: $white

%browser-mobile-paginator
  position: fixed
  height: $ui_mobile_app_controls_footer_height
  padding: rv($mobile_edge_padding_factor)
  display: flex
  justify-content: flex-end
  align-items: center
  bottom: 0

  +bp($desktop)
    display: none


%browser-mobile-toolbar
  position: fixed
  left: 0
  right: 0
  bottom: 0
  height: $ui_mobile_app_controls_footer_height
  z-index: 11
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: center
  background: $black
  padding: rv($mobile_edge_padding_factor)
  border-radius: 0 !important // Erroneously inherits a border radius in some contexts

  +bp($ui_mobile_app_controls_breakpoint)
    display: none

  .filter-btn
    color: $white
    +icon_with_label('filter',$btn_icon_size, 'reversed','active','left')
