/*
 * @file _exposed_fact
 * @group 40_ui/10_components/
 * @description Defines individual exposed facet blocks in browser sidebar
 */

%exposed-facet
  background-color: neutral(2)
  padding: rv($mobile_edge_padding_factor)
  margin-bottom: rv($mobile_block_spacing)
  font-size: rv(-1)

  +bp($tablet)
    margin-bottom: rv($block_spacing)

  > h3
    margin-top: 0
    margin-bottom: rv(-3)

  ul
    list-style-type: none
    padding-left: 0
    margin-bottom: 0

  > ul

    li:last-child
      margin-bottom: 0

  .facets-widget-searchbox
    width: 100%
    +background-icon-right('search')

  .facet-item
    margin-bottom: rv(-2)

    overflow-x: hidden

  details
    summary //prevent horizontal scroll from ::after element (arrows)
      overflow: hidden
      position: relative
      width: 100%
      +background_icon_right('accordion-expand')

      &:after
        position: absolute
        right: 0
        +fadeInDown($heartbeat,$heartbeat)

      &:hover:after
        +fadeInDown($heartbeat,$heartbeat)

    &[open]
      summary
        &:after
          display: inline-flex
          transform: rotate(45deg)
          +fadeInUp($heartbeat,$heartbeat)

        &:hover:after
          +fadeInUp($heartbeat,$heartbeat)


  .more-options
    display: none
    color: neutral(90)
    margin: rv(-1) 0 0 rv(8)
    padding: 0
    width: fit-content
    font-size: rv(-1)
    font-weight: $semibold
    text-decoration: underline

  .options
    +bp($desktop)
      max-height: 445px
      overflow-y: scroll

  summary::-webkit-details-marker
    display: none

  summary + .options
    margin-top: 0

  form, details
    overflow: hidden

    > ul
      padding-left: 0
