/*
 * @file _card
 * @group 40_ui/10_components/
 * @description Defines a basic list view. This particular design is more of a horizontal card than an minimal list.
 */

$list_item_figure_width: 125px


%list-item
  width: 100%
  border-top-left-radius: 0 !important
  border-bottom-left-radius: 0 !important


  > *
    width: 100%
    display: flex
    flex-direction: row
    align-items: flex-start
    justify-content: flex-start
    text-decoration: none
    background: $white
    border-color: $black
    border-width: 0 0 0 10px
    border-style: solid
    border-collapse: collapse
    overflow: hidden
    position: relative

    &:hover
      border-color: $impact

  figure
    width: $list_item_figure_width
    min-width: $list_item_figure_width
    padding: rv($mobile_edge_padding_factor) 0 rv($mobile_edge_padding_factor) rv($mobile_edge_padding_factor)

    +bp($ui_mobile_app_controls_breakpoint)
      width: auto
      min-width: auto
      padding: 0
      position: absolute
      top: 0
      left: 0
      right: calc(100% - #{$list_item_figure_width})
      bottom: 0

    img
      width: 100%
      height: 100%
      object-fit: cover

    &.figure-portrait
      img
        height: 100%
        width: 100% // Portrait cards cover their containers and are cut off in this treatment.
        margin: 0 auto
        background-position: top

  .item-description
    line-height: 1.5

  .metadata-list
    all: unset
    display: flex
    margin-right: rv($mobile_edge_padding_factor) * 2
    flex-wrap: wrap

    > *
      display: flex
      margin-right: rv($mobile_edge_padding_factor)
      margin-bottom: 4px

    .label
      padding-top: 0
      margin-right: $text_element_spacing

    .value
      margin-top: 0

    .metadata-item:before
      content: unset !important

    .license-img-wrapper
      display: none  // need better solution

  h3
    font-size: clamped(0,1)

  .item-info
    border: 0 !important
    padding: rv($mobile_edge_padding_factor)

    > *
      margin-bottom: $text_element_spacing !important
