/*
   @file _section_introduction.sass
   @category 60_site_elements
   @theme LOCAL
   @component main
   @description Also see _title_area.sass, which is applied to this block via a class.  */


.section-intro-block:not(.region-splash)

  .title-area
    +standard_edge_padding()
    background-color: set-color(2)

  figure
    position: relative

    a
      display: block

  figcaption
    background-color: $black
    color: $white
    border-top: 1px solid neutral(50)
    padding: rv($mobile_edge_padding_factor)
    font-style: $normal
    line-height: 1.4

    +bp($desktop)
      position: absolute
      bottom: 0
      left: 0
      right: 0
      background-color: rgba($true_black,0.7)
      color: $white
      border-top: 1px solid neutral(50)
      padding: rv($edge_padding_factor)


    *
      color: inherit

    h2, h3
      margin-top: 0

  +bp($desktop)
    display: flex

    &.left
      flex-direction: row-reverse

    > *:nth-child(1)
      flex-grow: 1
      display: flex
      flex-direction: column
      justify-content: flex-end
      height: 100%
      padding-bottom: rv($edge_padding_factor) * 3
      border-right: 2px solid $white

    > *:nth-child(2)
      flex-shrink: 0
      width: 61.8%
      height: 100%


    .item
      display: none
      height: 100%

      figure
        height: 100%

        a
          height: 100%

        img
          object-fit: cover
          height: 100%
          width: 100%

    .item:first-child
      display: block

// Splash version, originally from Pitts build
// @todo: Provide template options through configuration (regular, splash compact, splash full height)

.section-intro-block.region-splash
  position: relative
  color: $white
  background-color: neutral(95)
  isolation: isolate

  @at-root #splash &
    height: auto
    min-height: auto

  .items
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    overflow: hidden
    display: flex
    flex-direction: column
    z-index: 1

    .item, figure, img
      height: 100%
      width: 100%

    figure
      position: relative

      &::before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        background: rgba($black, 0.9)

      img
        object-fit: cover

    figcaption
      display: none

  .title-area
    position: relative
    z-index: 2


  .introductory-text
    text-align: center
    position: relative
    max-width: 500px
    left: 50%
    transform: translateX(-50%)
    padding: rv(1) rv(4)
    margin: auto 0

    +bp($tablet)
      padding: rv(4)
      margin: auto 0 0 0

    .section-intro-label
      font-family: $basefont
      font-weight: $white
      text-transform: uppercase
      color: $cta

    h1
      color: $white

    p
      font-family: $headingfont
      font-style: italic
      letter-spacing: 1px

    hr
      border-bottom: 2px solid $white

    .section-intro-img
      width: 150px




    // @todo: legacy? remove
    .slick-track
      height: 100%

    .slick-dots
      display: none
